/******************************************************************
 THEME - Default
******************************************************************/

@include include-font($font-family: 'Norwester', $file-name: 'norwester', $weight: normal, $style: normal);

body {
    background-color: $color__background;
    color: $color__foreground;
}

p,
li {
     color: $color__foreground;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: $font__heading !important;
}

#masthead {
    .menu-toggle {
        background-color: $color__primary;
    }

    .header-menu {
        a {
           color: $color__foreground; 
        }
        li {
            &:hover a,
            &:focus a {
                background-color: transparent;
            }

            a:hover,
            a:focus {
                color: $color__accent;
            }
        }
     }

     .site-branding {
        .custom-logo-link,
        .site-logo-link {
            .custom-logo,
            .site-logo {
                width: 200px;
                max-width: 100%;
                height: auto;
            }
        }
     }

    .site-navigation {}

    .social-links a {
        color: $color__primary;
        border-color:  $color__primary;

        &:before {
            color: $color__primary;
        }
    }

}

@include breakpoint(md) {

    #masthead {
        position: fixed;
        top: 0;
        height: 150px;
        background-color: $color__background;
        z-index: 100;

        -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);

        .site-branding-container {
            display: block;
        }

        .site-branding {
            height: 100px;

            .custom-logo-link,
            .site-logo-link {
                height: 100px;
                width: 50%;
                display: inherit;
                margin: 0 auto;

                .custom-logo,
                .site-logo {
                    max-height: 65%;
                    width: auto;
                    display: block;
                    margin: 0 auto;
                }
            }

            .site-description {
                display: none;
            }

        }

        .social-links {
            position: absolute;
            top: 0;
            right: 5%;
        }

        .site-navigation {
            height: 100px;
        }

        .main-navigation-container {
            text-align: center;

            .header-menu {

                width: 100%;

                &> li {
                    display: inline-block;
                    float: none;
                    vertical-align: top;
                    margin-right: 1px;

                    &:hover a,
                    &:focus a {
                        background-color: $color__secondary;
                    }


                    ul {
                        text-align: left;
                        background-color: $color__background;

                        li:hover a,
                        li:focus a {
                            color: $color__accent;
                        }
                    }
                }

            }
        }

    }

    .admin-bar  {
        #masthead,
        #masthead .social-links {
          top: 21px;  
        }
        
    }

    #content {
        margin-top: 150px;
    }

}

#colophon {
    .bottom-navigation,
    .copyright {
        background-color: $color__secondary;
    }

}

.home .entry.intro-content,
#secondary .wrap {
    border-top: none;
    border-bottom: 1px solid $color__darkest-grey;
}

.home-page {
    .sow-headline {
        text-shadow: 1px 1px 1px $color__background;
    }
    .so-widget-sow-headline h1 {
        color: $color__foreground !important;
        text-transform: uppercase;
        font-weight: 700;
    }
}

.ow-button-base a,
input[type="submit"] {
    background-color: $color__primary;
    color: $color__foreground;
    text-transform: uppercase;
    font-weight: bold;
}

.singular-page {

    .entry-header {
        width: 100vw;
        margin-left: -7.5%;
        background-size: cover;

        .entry-title {
            padding: 1.25em 1.75em;
        }
    }

}

@media (min-width: $md-screen) {
    body.singular-page {
        #secondary {
            margin-top: 225px;
        }
    }
}

body.buddypress #buddypress {
    #item-header-content {
        color: $color__foreground;
        p {
            color: $color__foreground;
        }
    }
    #item-actions {
        .group-members {
            color: $color__foreground;
        }
    }

    .fc-left,
    #bpeo-ical-download {
        color: $color__foreground;
    }

    #item-body p {
        color: $color__foreground;
    }

    #item-body form p {
        color: $color__background;
    }

    #item-body form #message {

        &.default {
            border-color: $color__default;
            p {
               color: $color__default; 
            }
        }
        &.info {
            border-color: $color__info;
            p {
                color: $color__info;
            }
        }
        &.success {
            border-color: $color__success;
            p {
                color: $color__success;
            }
        }
        &.warning {
            border-color: $color__warning;
            p { 
                color: $color__warning;
            }
        }
        &.danger {
            border-color: $color__danger;
            p {
                color: $color__danger;
            }
        }
    }

    #invite-anyone-member-list {
        color: $color_background;
    }

}

.groups #buddypress #header-cover-image {
    background-color: rgba(255,255,255,.1);
}


.post {
    .meta {}
}

.page-title {}


.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
    .date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
    .search-results {}              /* search result page */
    .search-no-results {}           /* no results search page */
    .search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
    .postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
    .single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
    .attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
    .attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
    .author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
    .author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
    .category-1 {}                  /* individual category page (i.e. body.category-6) */
    .category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
    .tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
    .tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
    .page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
    .page-paged-1 {}                /* replace the number to the corresponding page number */
    .page-parent {}                 /* parent page template */
    .page-child {}                  /* child page template */
    .parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
    .paged-1 {}                     /* individual paged (i.e. body.paged-3) */


// Widget colors
#secondary.sidebar .widget {}



.content-widgets,
.footer-widgets {
    .widget {
        
        .widget-title {}

        .wrap {}
    }
}

.header-widget-wrap {}

.footer-widgets {}

.copyright {}

