/******************************************************************
 THEME - Default
******************************************************************/

@include include-font($font-family: 'Norwester', $file-name: 'norwester', $weight: normal, $style: normal);

body {
    background-color: $color__background;
    color: $color__foreground;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: $font__heading !important;
}

#masthead {
    .menu-toggle {
        background-color: $color__primary;
    }
    .social-links a {
        color: $color__primary;
        border-color:  $color__primary;

        &:before {
            color: $color__primary;
        }
    }
    .site-branding .custom-logo-link .custom-logo,
    .site-branding .site-logo-link .site-logo {
        width: 100%;
        max-width: 350px;
        height: auto;
    }
}


#colophon {
    .bottom-navigation,
    .copyright {
        background-color: $color__secondary;
    }

}

.home .entry.intro-content,
#secondary .wrap {
    border-top: none;
    border-bottom: 1px solid $color__darkest-grey;
}

.home-page .sow-headline {
    text-shadow: 1px 1px 1px $color__background;
}

.home-page .so-widget-sow-headline h1 {
    color: $color__foreground !important;
    text-transform: uppercase;
    font-weight: 700;
}

.home-page .ow-button-base,
input[type="submit"] {
    background-color: $color__primary;
    color: $color__foreground;
    text-transform: uppercase;
}

.singular-page {

    .entry-header {
        width: 100vw;
        margin-left: -7.5%;
        background-size: cover;

        .entry-title {
            padding: 1.25em 1.75em;
        }
    }

}

body.siteorigin-panels {
    // h1.entry-title {
    //     @extend %visuallyhidden;
    // }
    // h1.image-header {
    //     padding-left: 1.75em;
    // }
}

.widget_siteorigin-panels-postloop {
    // .entry-header {
    //     .entry-meta {
    //         @extend %visuallyhidden;
    //     }
    // }
}

@media (min-width: $md-screen) {
    body.singular-page {
        #secondary {
            margin-top: 225px;
        }
    }
}

body.buddypress .site-main .item-list-tabs ul li {
    background-color: $color__mid-light-grey;
}

#buddypress .item-list-tabs ul li a,
#buddypress .item-list-tabs ul li span {
    color: $color__background;
}

body.buddypress .site-main .item-list-tabs ul li.selected,
body.buddypress .site-main .item-list-tabs ul li.current {
    background-color: $color__primary;
    color: $color__foreground;
}

body.buddypress .site-main table tr td.label,
body.buddypress .site-main table > tbody > tr,
body.buddypress .site-main table > tbody > tr:nth-of-type(2n+1),
#invite-anyone-member-list {
    background-color: transparent;
}

.groups #buddypress #header-cover-image {
    background-color: rgba(255,255,255,.1);
}

#buddypress #group-creation-previous {
    margin-left: 4%;
}

#invite-anyone-invite-list img.avatar {
    width: 100px;
    height: auto;
}

.post {
    .meta {}
}

.page-title {}


.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
    .date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
    .search-results {}              /* search result page */
    .search-no-results {}           /* no results search page */
    .search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
    .postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
    .single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
    .attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
    .attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
    .author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
    .author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
    .category-1 {}                  /* individual category page (i.e. body.category-6) */
    .category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
    .tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
    .tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
    .page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
    .page-paged-1 {}                /* replace the number to the corresponding page number */
    .page-parent {}                 /* parent page template */
    .page-child {}                  /* child page template */
    .parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
    .paged-1 {}                     /* individual paged (i.e. body.paged-3) */


// Widget colors
#secondary.sidebar .widget {}



.content-widgets,
.footer-widgets {
    .widget {
        
        .widget-title {}

        .wrap {}
    }
}

.header-widget-wrap {}

.footer-widgets {}

.copyright {}

